{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://data.jobs.iot.amazonaws.com/"
        },
        {
            "url": "http://data.jobs.iot.amazonaws.com/"
        }
    ],
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>AWS IoT Jobs is a service that allows you to define a set of jobs — remote operations that are sent to and executed on one or more devices connected to AWS IoT. For example, you can define a job that instructs a set of devices to download and install application or firmware updates, reboot, rotate certificates, or perform remote troubleshooting operations.</p> <p> To create a job, you make a job document which is a description of the remote operations to be performed, and you specify a list of targets that should perform the operations. The targets can be individual things, thing groups or both.</p> <p> AWS IoT Jobs sends a message to inform the targets that a job is available. The target starts the execution of the job by downloading the job document, performing the operations it specifies, and reporting its progress to AWS IoT. The Jobs service provides commands to track the progress of a job on a specific target and for all the targets of the job</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS IoT Jobs Data Plane",
        "version": "2017-09-29",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot-jobs-data-2017-09-29.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "iot-jobs-data"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/iot/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/things/{thingName}/jobs": {
            "get": {
                "description": "Gets the list of all jobs for a thing that are not in a terminal status.",
                "operationId": "GetPendingJobExecutions",
                "parameters": [
                    {
                        "in": "path",
                        "name": "thingName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "inProgressJobs": {
                                            "description": "A list of JobExecutionSummary objects with status IN_PROGRESS.",
                                            "items": {
                                                "description": "Contains a subset of information about a job execution.",
                                                "properties": {
                                                    "executionNumber": {
                                                        "description": "A number that identifies a particular job execution on a particular device.",
                                                        "type": "integer"
                                                    },
                                                    "jobId": {
                                                        "description": "The unique identifier you assigned to this job when it was created.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9_-]+",
                                                        "type": "string"
                                                    },
                                                    "lastUpdatedAt": {
                                                        "description": "The time, in milliseconds since the epoch, when the job execution was last updated.",
                                                        "type": "integer"
                                                    },
                                                    "queuedAt": {
                                                        "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                                                        "type": "integer"
                                                    },
                                                    "startedAt": {
                                                        "description": "The time, in milliseconds since the epoch, when the job execution started.",
                                                        "type": "integer"
                                                    },
                                                    "versionNumber": {
                                                        "description": "The version of the job execution. Job execution versions are incremented each time AWS IoT Jobs receives an update from a device.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "queuedJobs": {
                                            "description": "A list of JobExecutionSummary objects with status QUEUED.",
                                            "items": {
                                                "description": "Contains a subset of information about a job execution.",
                                                "properties": {
                                                    "executionNumber": {
                                                        "description": "A number that identifies a particular job execution on a particular device.",
                                                        "type": "integer"
                                                    },
                                                    "jobId": {
                                                        "description": "The unique identifier you assigned to this job when it was created.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9_-]+",
                                                        "type": "string"
                                                    },
                                                    "lastUpdatedAt": {
                                                        "description": "The time, in milliseconds since the epoch, when the job execution was last updated.",
                                                        "type": "integer"
                                                    },
                                                    "queuedAt": {
                                                        "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                                                        "type": "integer"
                                                    },
                                                    "startedAt": {
                                                        "description": "The time, in milliseconds since the epoch, when the job execution started.",
                                                        "type": "integer"
                                                    },
                                                    "versionNumber": {
                                                        "description": "The version of the job execution. Job execution versions are incremented each time AWS IoT Jobs receives an update from a device.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CertificateValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/things/{thingName}/jobs/$next": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Gets and starts the next pending (status IN_PROGRESS or QUEUED) job execution for a thing.",
                "operationId": "StartNextPendingJobExecution",
                "parameters": [
                    {
                        "in": "path",
                        "name": "thingName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "execution": {
                                            "description": "A JobExecution object.",
                                            "properties": {
                                                "approximateSecondsBeforeTimedOut": {
                                                    "description": "The estimated number of seconds that remain before the job execution status will be changed to <code>TIMED_OUT</code>.",
                                                    "type": "integer"
                                                },
                                                "executionNumber": {
                                                    "description": "A number that identifies a particular job execution on a particular device. It can be used later in commands that return or update job execution information.",
                                                    "type": "integer"
                                                },
                                                "jobDocument": {
                                                    "description": "The content of the job document.",
                                                    "maxLength": 32768,
                                                    "type": "string"
                                                },
                                                "jobId": {
                                                    "description": "The unique identifier you assigned to this job when it was created.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9_-]+",
                                                    "type": "string"
                                                },
                                                "lastUpdatedAt": {
                                                    "description": "The time, in milliseconds since the epoch, when the job execution was last updated. ",
                                                    "type": "integer"
                                                },
                                                "queuedAt": {
                                                    "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                                                    "type": "integer"
                                                },
                                                "startedAt": {
                                                    "description": "The time, in milliseconds since the epoch, when the job execution was started.",
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "description": "The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".",
                                                    "enum": [
                                                        "QUEUED",
                                                        "IN_PROGRESS",
                                                        "SUCCEEDED",
                                                        "FAILED",
                                                        "TIMED_OUT",
                                                        "REJECTED",
                                                        "REMOVED",
                                                        "CANCELED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "statusDetails": {
                                                    "description": "A collection of name/value pairs that describe the status of the job execution.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[a-zA-Z0-9:_-]+",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1024,
                                                                "minLength": 1,
                                                                "pattern": "[^\\p\\{C\\}]*\\+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "thingName": {
                                                    "description": "The name of the thing that is executing the job.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9:_-]+",
                                                    "type": "string"
                                                },
                                                "versionNumber": {
                                                    "description": "The version of the job execution. Job execution versions are incremented each time they are updated by a device.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CertificateValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "statusDetails": {
                                        "description": "A collection of name/value pairs that describe the status of the job execution. If not specified, the statusDetails are unchanged.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9:_-]+",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 1024,
                                                    "minLength": 1,
                                                    "pattern": "[^\\p\\{C\\}]*\\+",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "stepTimeoutInMinutes": {
                                        "description": "Specifies the amount of time this device has to finish execution of this job. If the job execution status is not set to a terminal state before this timer expires, or before the timer is reset (by calling <code>UpdateJobExecution</code>, setting the status to <code>IN_PROGRESS</code> and specifying a new timeout value in field <code>stepTimeoutInMinutes</code>) the job execution status will be automatically set to <code>TIMED_OUT</code>. Note that setting this timeout has no effect on that job execution timeout which may have been specified when the job was created (<code>CreateJob</code> using field <code>timeoutConfig</code>).",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/things/{thingName}/jobs/{jobId}": {
            "get": {
                "description": "Gets details of a job execution.",
                "operationId": "DescribeJobExecution",
                "parameters": [
                    {
                        "in": "path",
                        "name": "thingName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "jobId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "execution": {
                                            "description": "Contains data about a job execution.",
                                            "properties": {
                                                "approximateSecondsBeforeTimedOut": {
                                                    "description": "The estimated number of seconds that remain before the job execution status will be changed to <code>TIMED_OUT</code>.",
                                                    "type": "integer"
                                                },
                                                "executionNumber": {
                                                    "description": "A number that identifies a particular job execution on a particular device. It can be used later in commands that return or update job execution information.",
                                                    "type": "integer"
                                                },
                                                "jobDocument": {
                                                    "description": "The content of the job document.",
                                                    "maxLength": 32768,
                                                    "type": "string"
                                                },
                                                "jobId": {
                                                    "description": "The unique identifier you assigned to this job when it was created.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9_-]+",
                                                    "type": "string"
                                                },
                                                "lastUpdatedAt": {
                                                    "description": "The time, in milliseconds since the epoch, when the job execution was last updated. ",
                                                    "type": "integer"
                                                },
                                                "queuedAt": {
                                                    "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                                                    "type": "integer"
                                                },
                                                "startedAt": {
                                                    "description": "The time, in milliseconds since the epoch, when the job execution was started.",
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "description": "The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".",
                                                    "enum": [
                                                        "QUEUED",
                                                        "IN_PROGRESS",
                                                        "SUCCEEDED",
                                                        "FAILED",
                                                        "TIMED_OUT",
                                                        "REJECTED",
                                                        "REMOVED",
                                                        "CANCELED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "statusDetails": {
                                                    "description": "A collection of name/value pairs that describe the status of the job execution.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[a-zA-Z0-9:_-]+",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1024,
                                                                "minLength": 1,
                                                                "pattern": "[^\\p\\{C\\}]*\\+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "thingName": {
                                                    "description": "The name of the thing that is executing the job.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9:_-]+",
                                                    "type": "string"
                                                },
                                                "versionNumber": {
                                                    "description": "The version of the job execution. Job execution versions are incremented each time they are updated by a device.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CertificateValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TerminalStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Updates the status of a job execution.",
                "operationId": "UpdateJobExecution",
                "parameters": [
                    {
                        "in": "path",
                        "name": "thingName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "jobId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "executionState": {
                                            "description": "A JobExecutionState object.",
                                            "properties": {
                                                "status": {
                                                    "description": "The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".",
                                                    "enum": [
                                                        "QUEUED",
                                                        "IN_PROGRESS",
                                                        "SUCCEEDED",
                                                        "FAILED",
                                                        "TIMED_OUT",
                                                        "REJECTED",
                                                        "REMOVED",
                                                        "CANCELED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "statusDetails": {
                                                    "description": "A collection of name/value pairs that describe the status of the job execution.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[a-zA-Z0-9:_-]+",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1024,
                                                                "minLength": 1,
                                                                "pattern": "[^\\p\\{C\\}]*\\+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "versionNumber": {
                                                    "description": "The version of the job execution. Job execution versions are incremented each time they are updated by a device.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "jobDocument": {
                                            "description": "The contents of the Job Documents.",
                                            "maxLength": 32768,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CertificateValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidStateTransitionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "executionNumber": {
                                        "description": "Optional. A number that identifies a particular job execution on a particular device.",
                                        "type": "integer"
                                    },
                                    "expectedVersion": {
                                        "description": "Optional. The expected current version of the job execution. Each time you update the job execution, its version is incremented. If the version of the job execution stored in Jobs does not match, the update is rejected with a VersionMismatch error, and an ErrorResponse that contains the current job execution status data is returned. (This makes it unnecessary to perform a separate DescribeJobExecution request in order to obtain the job execution status data.)",
                                        "type": "integer"
                                    },
                                    "includeJobDocument": {
                                        "description": "Optional. When set to true, the response contains the job document. The default is false.",
                                        "type": "boolean"
                                    },
                                    "includeJobExecutionState": {
                                        "description": "Optional. When included and set to true, the response contains the JobExecutionState data. The default is false.",
                                        "type": "boolean"
                                    },
                                    "status": {
                                        "description": "The new status for the job execution (IN_PROGRESS, FAILED, SUCCESS, or REJECTED). This must be specified on every update.",
                                        "enum": [
                                            "QUEUED",
                                            "IN_PROGRESS",
                                            "SUCCEEDED",
                                            "FAILED",
                                            "TIMED_OUT",
                                            "REJECTED",
                                            "REMOVED",
                                            "CANCELED"
                                        ],
                                        "type": "string"
                                    },
                                    "statusDetails": {
                                        "description": " Optional. A collection of name/value pairs that describe the status of the job execution. If not specified, the statusDetails are unchanged.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9:_-]+",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 1024,
                                                    "minLength": 1,
                                                    "pattern": "[^\\p\\{C\\}]*\\+",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "stepTimeoutInMinutes": {
                                        "description": "Specifies the amount of time this device has to finish execution of this job. If the job execution status is not set to a terminal state before this timer expires, or before the timer is reset (by again calling <code>UpdateJobExecution</code>, setting the status to <code>IN_PROGRESS</code> and specifying a new timeout value in this field) the job execution status will be automatically set to <code>TIMED_OUT</code>. Note that setting or resetting this timeout has no effect on that job execution timeout which may have been specified when the job was created (<code>CreateJob</code> using field <code>timeoutConfig</code>).",
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "status"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApproximateSecondsBeforeTimedOut": {
                "type": "integer"
            },
            "CertificateValidationException": {},
            "DescribeJobExecutionJobId": {
                "pattern": "[a-zA-Z0-9_-]+|^\\$next",
                "type": "string"
            },
            "DescribeJobExecutionRequest": {
                "properties": {},
                "type": "object"
            },
            "DescribeJobExecutionResponse": {
                "properties": {
                    "execution": {
                        "description": "Contains data about a job execution.",
                        "properties": {
                            "approximateSecondsBeforeTimedOut": {
                                "description": "The estimated number of seconds that remain before the job execution status will be changed to <code>TIMED_OUT</code>.",
                                "type": "integer"
                            },
                            "executionNumber": {
                                "description": "A number that identifies a particular job execution on a particular device. It can be used later in commands that return or update job execution information.",
                                "type": "integer"
                            },
                            "jobDocument": {
                                "description": "The content of the job document.",
                                "maxLength": 32768,
                                "type": "string"
                            },
                            "jobId": {
                                "description": "The unique identifier you assigned to this job when it was created.",
                                "maxLength": 64,
                                "minLength": 1,
                                "pattern": "[a-zA-Z0-9_-]+",
                                "type": "string"
                            },
                            "lastUpdatedAt": {
                                "description": "The time, in milliseconds since the epoch, when the job execution was last updated. ",
                                "type": "integer"
                            },
                            "queuedAt": {
                                "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                                "type": "integer"
                            },
                            "startedAt": {
                                "description": "The time, in milliseconds since the epoch, when the job execution was started.",
                                "type": "integer"
                            },
                            "status": {
                                "description": "The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".",
                                "enum": [
                                    "QUEUED",
                                    "IN_PROGRESS",
                                    "SUCCEEDED",
                                    "FAILED",
                                    "TIMED_OUT",
                                    "REJECTED",
                                    "REMOVED",
                                    "CANCELED"
                                ],
                                "type": "string"
                            },
                            "statusDetails": {
                                "description": "A collection of name/value pairs that describe the status of the job execution.",
                                "items": {
                                    "properties": {
                                        "key": {
                                            "maxLength": 128,
                                            "minLength": 1,
                                            "pattern": "[a-zA-Z0-9:_-]+",
                                            "type": "string"
                                        },
                                        "value": {
                                            "maxLength": 1024,
                                            "minLength": 1,
                                            "pattern": "[^\\p\\{C\\}]*\\+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "thingName": {
                                "description": "The name of the thing that is executing the job.",
                                "maxLength": 128,
                                "minLength": 1,
                                "pattern": "[a-zA-Z0-9:_-]+",
                                "type": "string"
                            },
                            "versionNumber": {
                                "description": "The version of the job execution. Job execution versions are incremented each time they are updated by a device.",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "DetailsKey": {
                "maxLength": 128,
                "minLength": 1,
                "pattern": "[a-zA-Z0-9:_-]+",
                "type": "string"
            },
            "DetailsMap": {
                "items": {
                    "properties": {
                        "key": {
                            "maxLength": 128,
                            "minLength": 1,
                            "pattern": "[a-zA-Z0-9:_-]+",
                            "type": "string"
                        },
                        "value": {
                            "maxLength": 1024,
                            "minLength": 1,
                            "pattern": "[^\\p\\{C\\}]*\\+",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "type": "array"
            },
            "DetailsValue": {
                "maxLength": 1024,
                "minLength": 1,
                "pattern": "[^\\p\\{C\\}]*\\+",
                "type": "string"
            },
            "ExecutionNumber": {
                "type": "integer"
            },
            "ExpectedVersion": {
                "type": "integer"
            },
            "GetPendingJobExecutionsRequest": {
                "properties": {},
                "type": "object"
            },
            "GetPendingJobExecutionsResponse": {
                "properties": {
                    "inProgressJobs": {
                        "description": "A list of JobExecutionSummary objects with status IN_PROGRESS.",
                        "items": {
                            "description": "Contains a subset of information about a job execution.",
                            "properties": {
                                "executionNumber": {
                                    "description": "A number that identifies a particular job execution on a particular device.",
                                    "type": "integer"
                                },
                                "jobId": {
                                    "description": "The unique identifier you assigned to this job when it was created.",
                                    "maxLength": 64,
                                    "minLength": 1,
                                    "pattern": "[a-zA-Z0-9_-]+",
                                    "type": "string"
                                },
                                "lastUpdatedAt": {
                                    "description": "The time, in milliseconds since the epoch, when the job execution was last updated.",
                                    "type": "integer"
                                },
                                "queuedAt": {
                                    "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                                    "type": "integer"
                                },
                                "startedAt": {
                                    "description": "The time, in milliseconds since the epoch, when the job execution started.",
                                    "type": "integer"
                                },
                                "versionNumber": {
                                    "description": "The version of the job execution. Job execution versions are incremented each time AWS IoT Jobs receives an update from a device.",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "queuedJobs": {
                        "description": "A list of JobExecutionSummary objects with status QUEUED.",
                        "items": {
                            "description": "Contains a subset of information about a job execution.",
                            "properties": {
                                "executionNumber": {
                                    "description": "A number that identifies a particular job execution on a particular device.",
                                    "type": "integer"
                                },
                                "jobId": {
                                    "description": "The unique identifier you assigned to this job when it was created.",
                                    "maxLength": 64,
                                    "minLength": 1,
                                    "pattern": "[a-zA-Z0-9_-]+",
                                    "type": "string"
                                },
                                "lastUpdatedAt": {
                                    "description": "The time, in milliseconds since the epoch, when the job execution was last updated.",
                                    "type": "integer"
                                },
                                "queuedAt": {
                                    "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                                    "type": "integer"
                                },
                                "startedAt": {
                                    "description": "The time, in milliseconds since the epoch, when the job execution started.",
                                    "type": "integer"
                                },
                                "versionNumber": {
                                    "description": "The version of the job execution. Job execution versions are incremented each time AWS IoT Jobs receives an update from a device.",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "IncludeExecutionState": {
                "type": "boolean"
            },
            "IncludeJobDocument": {
                "type": "boolean"
            },
            "InvalidRequestException": {},
            "InvalidStateTransitionException": {},
            "JobDocument": {
                "maxLength": 32768,
                "type": "string"
            },
            "JobExecution": {
                "description": "Contains data about a job execution.",
                "properties": {
                    "approximateSecondsBeforeTimedOut": {
                        "description": "The estimated number of seconds that remain before the job execution status will be changed to <code>TIMED_OUT</code>.",
                        "type": "integer"
                    },
                    "executionNumber": {
                        "description": "A number that identifies a particular job execution on a particular device. It can be used later in commands that return or update job execution information.",
                        "type": "integer"
                    },
                    "jobDocument": {
                        "description": "The content of the job document.",
                        "maxLength": 32768,
                        "type": "string"
                    },
                    "jobId": {
                        "description": "The unique identifier you assigned to this job when it was created.",
                        "maxLength": 64,
                        "minLength": 1,
                        "pattern": "[a-zA-Z0-9_-]+",
                        "type": "string"
                    },
                    "lastUpdatedAt": {
                        "description": "The time, in milliseconds since the epoch, when the job execution was last updated. ",
                        "type": "integer"
                    },
                    "queuedAt": {
                        "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                        "type": "integer"
                    },
                    "startedAt": {
                        "description": "The time, in milliseconds since the epoch, when the job execution was started.",
                        "type": "integer"
                    },
                    "status": {
                        "description": "The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".",
                        "enum": [
                            "QUEUED",
                            "IN_PROGRESS",
                            "SUCCEEDED",
                            "FAILED",
                            "TIMED_OUT",
                            "REJECTED",
                            "REMOVED",
                            "CANCELED"
                        ],
                        "type": "string"
                    },
                    "statusDetails": {
                        "description": "A collection of name/value pairs that describe the status of the job execution.",
                        "items": {
                            "properties": {
                                "key": {
                                    "maxLength": 128,
                                    "minLength": 1,
                                    "pattern": "[a-zA-Z0-9:_-]+",
                                    "type": "string"
                                },
                                "value": {
                                    "maxLength": 1024,
                                    "minLength": 1,
                                    "pattern": "[^\\p\\{C\\}]*\\+",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "thingName": {
                        "description": "The name of the thing that is executing the job.",
                        "maxLength": 128,
                        "minLength": 1,
                        "pattern": "[a-zA-Z0-9:_-]+",
                        "type": "string"
                    },
                    "versionNumber": {
                        "description": "The version of the job execution. Job execution versions are incremented each time they are updated by a device.",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "JobExecutionState": {
                "description": "Contains data about the state of a job execution.",
                "properties": {
                    "status": {
                        "description": "The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".",
                        "enum": [
                            "QUEUED",
                            "IN_PROGRESS",
                            "SUCCEEDED",
                            "FAILED",
                            "TIMED_OUT",
                            "REJECTED",
                            "REMOVED",
                            "CANCELED"
                        ],
                        "type": "string"
                    },
                    "statusDetails": {
                        "description": "A collection of name/value pairs that describe the status of the job execution.",
                        "items": {
                            "properties": {
                                "key": {
                                    "maxLength": 128,
                                    "minLength": 1,
                                    "pattern": "[a-zA-Z0-9:_-]+",
                                    "type": "string"
                                },
                                "value": {
                                    "maxLength": 1024,
                                    "minLength": 1,
                                    "pattern": "[^\\p\\{C\\}]*\\+",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "versionNumber": {
                        "description": "The version of the job execution. Job execution versions are incremented each time they are updated by a device.",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "JobExecutionStatus": {
                "enum": [
                    "QUEUED",
                    "IN_PROGRESS",
                    "SUCCEEDED",
                    "FAILED",
                    "TIMED_OUT",
                    "REJECTED",
                    "REMOVED",
                    "CANCELED"
                ],
                "type": "string"
            },
            "JobExecutionSummary": {
                "description": "Contains a subset of information about a job execution.",
                "properties": {
                    "executionNumber": {
                        "description": "A number that identifies a particular job execution on a particular device.",
                        "type": "integer"
                    },
                    "jobId": {
                        "description": "The unique identifier you assigned to this job when it was created.",
                        "maxLength": 64,
                        "minLength": 1,
                        "pattern": "[a-zA-Z0-9_-]+",
                        "type": "string"
                    },
                    "lastUpdatedAt": {
                        "description": "The time, in milliseconds since the epoch, when the job execution was last updated.",
                        "type": "integer"
                    },
                    "queuedAt": {
                        "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                        "type": "integer"
                    },
                    "startedAt": {
                        "description": "The time, in milliseconds since the epoch, when the job execution started.",
                        "type": "integer"
                    },
                    "versionNumber": {
                        "description": "The version of the job execution. Job execution versions are incremented each time AWS IoT Jobs receives an update from a device.",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "JobExecutionSummaryList": {
                "items": {
                    "description": "Contains a subset of information about a job execution.",
                    "properties": {
                        "executionNumber": {
                            "description": "A number that identifies a particular job execution on a particular device.",
                            "type": "integer"
                        },
                        "jobId": {
                            "description": "The unique identifier you assigned to this job when it was created.",
                            "maxLength": 64,
                            "minLength": 1,
                            "pattern": "[a-zA-Z0-9_-]+",
                            "type": "string"
                        },
                        "lastUpdatedAt": {
                            "description": "The time, in milliseconds since the epoch, when the job execution was last updated.",
                            "type": "integer"
                        },
                        "queuedAt": {
                            "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                            "type": "integer"
                        },
                        "startedAt": {
                            "description": "The time, in milliseconds since the epoch, when the job execution started.",
                            "type": "integer"
                        },
                        "versionNumber": {
                            "description": "The version of the job execution. Job execution versions are incremented each time AWS IoT Jobs receives an update from a device.",
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "type": "array"
            },
            "JobId": {
                "maxLength": 64,
                "minLength": 1,
                "pattern": "[a-zA-Z0-9_-]+",
                "type": "string"
            },
            "LastUpdatedAt": {
                "type": "integer"
            },
            "QueuedAt": {
                "type": "integer"
            },
            "ResourceNotFoundException": {},
            "ServiceUnavailableException": {},
            "StartNextPendingJobExecutionRequest": {
                "properties": {
                    "statusDetails": {
                        "description": "A collection of name/value pairs that describe the status of the job execution. If not specified, the statusDetails are unchanged.",
                        "items": {
                            "properties": {
                                "key": {
                                    "maxLength": 128,
                                    "minLength": 1,
                                    "pattern": "[a-zA-Z0-9:_-]+",
                                    "type": "string"
                                },
                                "value": {
                                    "maxLength": 1024,
                                    "minLength": 1,
                                    "pattern": "[^\\p\\{C\\}]*\\+",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "stepTimeoutInMinutes": {
                        "description": "Specifies the amount of time this device has to finish execution of this job. If the job execution status is not set to a terminal state before this timer expires, or before the timer is reset (by calling <code>UpdateJobExecution</code>, setting the status to <code>IN_PROGRESS</code> and specifying a new timeout value in field <code>stepTimeoutInMinutes</code>) the job execution status will be automatically set to <code>TIMED_OUT</code>. Note that setting this timeout has no effect on that job execution timeout which may have been specified when the job was created (<code>CreateJob</code> using field <code>timeoutConfig</code>).",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "StartNextPendingJobExecutionResponse": {
                "properties": {
                    "execution": {
                        "description": "A JobExecution object.",
                        "properties": {
                            "approximateSecondsBeforeTimedOut": {
                                "description": "The estimated number of seconds that remain before the job execution status will be changed to <code>TIMED_OUT</code>.",
                                "type": "integer"
                            },
                            "executionNumber": {
                                "description": "A number that identifies a particular job execution on a particular device. It can be used later in commands that return or update job execution information.",
                                "type": "integer"
                            },
                            "jobDocument": {
                                "description": "The content of the job document.",
                                "maxLength": 32768,
                                "type": "string"
                            },
                            "jobId": {
                                "description": "The unique identifier you assigned to this job when it was created.",
                                "maxLength": 64,
                                "minLength": 1,
                                "pattern": "[a-zA-Z0-9_-]+",
                                "type": "string"
                            },
                            "lastUpdatedAt": {
                                "description": "The time, in milliseconds since the epoch, when the job execution was last updated. ",
                                "type": "integer"
                            },
                            "queuedAt": {
                                "description": "The time, in milliseconds since the epoch, when the job execution was enqueued.",
                                "type": "integer"
                            },
                            "startedAt": {
                                "description": "The time, in milliseconds since the epoch, when the job execution was started.",
                                "type": "integer"
                            },
                            "status": {
                                "description": "The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".",
                                "enum": [
                                    "QUEUED",
                                    "IN_PROGRESS",
                                    "SUCCEEDED",
                                    "FAILED",
                                    "TIMED_OUT",
                                    "REJECTED",
                                    "REMOVED",
                                    "CANCELED"
                                ],
                                "type": "string"
                            },
                            "statusDetails": {
                                "description": "A collection of name/value pairs that describe the status of the job execution.",
                                "items": {
                                    "properties": {
                                        "key": {
                                            "maxLength": 128,
                                            "minLength": 1,
                                            "pattern": "[a-zA-Z0-9:_-]+",
                                            "type": "string"
                                        },
                                        "value": {
                                            "maxLength": 1024,
                                            "minLength": 1,
                                            "pattern": "[^\\p\\{C\\}]*\\+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "thingName": {
                                "description": "The name of the thing that is executing the job.",
                                "maxLength": 128,
                                "minLength": 1,
                                "pattern": "[a-zA-Z0-9:_-]+",
                                "type": "string"
                            },
                            "versionNumber": {
                                "description": "The version of the job execution. Job execution versions are incremented each time they are updated by a device.",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "StartedAt": {
                "type": "integer"
            },
            "StepTimeoutInMinutes": {
                "type": "integer"
            },
            "TerminalStateException": {},
            "ThingName": {
                "maxLength": 128,
                "minLength": 1,
                "pattern": "[a-zA-Z0-9:_-]+",
                "type": "string"
            },
            "ThrottlingException": {},
            "UpdateJobExecutionRequest": {
                "properties": {
                    "executionNumber": {
                        "description": "Optional. A number that identifies a particular job execution on a particular device.",
                        "type": "integer"
                    },
                    "expectedVersion": {
                        "description": "Optional. The expected current version of the job execution. Each time you update the job execution, its version is incremented. If the version of the job execution stored in Jobs does not match, the update is rejected with a VersionMismatch error, and an ErrorResponse that contains the current job execution status data is returned. (This makes it unnecessary to perform a separate DescribeJobExecution request in order to obtain the job execution status data.)",
                        "type": "integer"
                    },
                    "includeJobDocument": {
                        "description": "Optional. When set to true, the response contains the job document. The default is false.",
                        "type": "boolean"
                    },
                    "includeJobExecutionState": {
                        "description": "Optional. When included and set to true, the response contains the JobExecutionState data. The default is false.",
                        "type": "boolean"
                    },
                    "status": {
                        "description": "The new status for the job execution (IN_PROGRESS, FAILED, SUCCESS, or REJECTED). This must be specified on every update.",
                        "enum": [
                            "QUEUED",
                            "IN_PROGRESS",
                            "SUCCEEDED",
                            "FAILED",
                            "TIMED_OUT",
                            "REJECTED",
                            "REMOVED",
                            "CANCELED"
                        ],
                        "type": "string"
                    },
                    "statusDetails": {
                        "description": " Optional. A collection of name/value pairs that describe the status of the job execution. If not specified, the statusDetails are unchanged.",
                        "items": {
                            "properties": {
                                "key": {
                                    "maxLength": 128,
                                    "minLength": 1,
                                    "pattern": "[a-zA-Z0-9:_-]+",
                                    "type": "string"
                                },
                                "value": {
                                    "maxLength": 1024,
                                    "minLength": 1,
                                    "pattern": "[^\\p\\{C\\}]*\\+",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "stepTimeoutInMinutes": {
                        "description": "Specifies the amount of time this device has to finish execution of this job. If the job execution status is not set to a terminal state before this timer expires, or before the timer is reset (by again calling <code>UpdateJobExecution</code>, setting the status to <code>IN_PROGRESS</code> and specifying a new timeout value in this field) the job execution status will be automatically set to <code>TIMED_OUT</code>. Note that setting or resetting this timeout has no effect on that job execution timeout which may have been specified when the job was created (<code>CreateJob</code> using field <code>timeoutConfig</code>).",
                        "type": "integer"
                    }
                },
                "required": [
                    "status"
                ],
                "type": "object"
            },
            "UpdateJobExecutionResponse": {
                "properties": {
                    "executionState": {
                        "description": "A JobExecutionState object.",
                        "properties": {
                            "status": {
                                "description": "The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".",
                                "enum": [
                                    "QUEUED",
                                    "IN_PROGRESS",
                                    "SUCCEEDED",
                                    "FAILED",
                                    "TIMED_OUT",
                                    "REJECTED",
                                    "REMOVED",
                                    "CANCELED"
                                ],
                                "type": "string"
                            },
                            "statusDetails": {
                                "description": "A collection of name/value pairs that describe the status of the job execution.",
                                "items": {
                                    "properties": {
                                        "key": {
                                            "maxLength": 128,
                                            "minLength": 1,
                                            "pattern": "[a-zA-Z0-9:_-]+",
                                            "type": "string"
                                        },
                                        "value": {
                                            "maxLength": 1024,
                                            "minLength": 1,
                                            "pattern": "[^\\p\\{C\\}]*\\+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "versionNumber": {
                                "description": "The version of the job execution. Job execution versions are incremented each time they are updated by a device.",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    },
                    "jobDocument": {
                        "description": "The contents of the Job Documents.",
                        "maxLength": 32768,
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "VersionNumber": {
                "type": "integer"
            }
        },
        "parameters": {
            "Action": {
                "in": "query",
                "name": "Action",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "Version": {
                "in": "query",
                "name": "Version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Algorithm": {
                "in": "header",
                "name": "X-Amz-Algorithm",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Content-Sha256": {
                "in": "header",
                "name": "X-Amz-Content-Sha256",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Credential": {
                "in": "header",
                "name": "X-Amz-Credential",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Date": {
                "in": "header",
                "name": "X-Amz-Date",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Security-Token": {
                "in": "header",
                "name": "X-Amz-Security-Token",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Signature": {
                "in": "header",
                "name": "X-Amz-Signature",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-SignedHeaders": {
                "in": "header",
                "name": "X-Amz-SignedHeaders",
                "required": false,
                "schema": {
                    "type": "string"
                }
            }
        },
        "requestBodies": {
            "GetPendingJobExecutionsBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "properties": {},
                            "type": "object"
                        }
                    }
                },
                "required": true
            }
        },
        "securitySchemes": {
            "hmac": {
                "description": "Amazon Signature authorization v4",
                "in": "header",
                "name": "Authorization",
                "type": "apiKey",
                "x-amazon-apigateway-authtype": "awsSigv4"
            }
        }
    }
}